* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .image{
  background:rgba(0,0,0,0.5) url("https://t4.ftcdn.net/jpg/02/93/76/53/360_F_293765358_Vqj6RbQA0K8jIuHLzU41TcYGcboPsl5E.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  overflow: hidden;
  background-blend-mode: overlay;
  width:100%; } 
  .image p{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 90px;
    font-size: 100px;
    color:white;
  }
  .card{
    margin-left:130px;
    margin-top:60px;
  }
  .card-title{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  .WORK h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top:90px;
  }
  .site-footer{
    margin-top:80px;
    background-color: rgb(29, 27, 27);
    color:grey;
  }
  .site-footer h2{
    margin:40px 10px 20px 10px;
    color:white;
  }
  .site-footer a{
text-decoration: none;
color:grey;
  }
 .btn-footer{
    border-radius: 20px;
    border:3px;
 }